/* IDs */

#content {
  background-color: #f4b400;
  border-radius: 25px;
  border-style: outset;
  box-shadow: 9px 9px #666;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 650px;
  word-spacing: 3px;
}

#chart-container {
  border: 15px;
  border-style: groove;
  display: none;
  margin: 10px;
  padding: 30px;
  visibility: hidden;
}

#divider {
  background-color: #ce0f3d;
  color: #ce0f3d;
  height: 15px;
  list-style-type: none;
  width: auto;
}

#unauth {
  display: none;
  visibility: hidden;
}

/* Classes */

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.jumbotron {
  background-color: #0f9d58;
}

.middle {
  background-color: #0f9d58;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  text-align: center;
  width: 650px;
}

.requiresauth {
  display: none;
  visibility: hidden;
}

/* Main */

body {
	background: linear-gradient(-45deg, #4285f4, #f4b400, #db4437, #0f9d58);
	background-size: 600% 600%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 5%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 5%;
  }
}

h1 {
  text-shadow: 4px 3px 4px #4285F4;
}

nav {
  word-spacing: 4px;
}

p {
  margin: 10px;
  padding: 30px;
  text-align: center;
}

/* Links */

a:active {
  background-color: #fbff00;
}

a:visited {
  color: #000;
}

a:hover {
  background-color: #f4b400;
}
